/* variables */
:root {
  /* color */
  --white: #ffffff;
  --black-1: #323232;
  --black-2: #505050;
  --gray-1: #ccd2da;
  --gray-2: #e6e9ed;
  --red-1: #f64d4d;
  --red-2: #f64d4d;
  --red-3: #ff8086;
  --pink-1: #ff8ec5;
  --orange-1: #ffa439;
  --yellow-1: #fed894;
  --yellow-2: #fdc55f;
  --green-1: #89e7b3;
  --green-2: #4eda8c;
  --skyblue-1: #89dcff;
  --skyblue-2: #48c8ff;
  --blue-1: #3a80e9;
  --blue-2: #99b3ff;
  --blue-3: #668cff;
  --purple-1: #bfadf7;
  --purple-2: #9e84f3;

  /* gradient */
  --gradient-bg-main: linear-gradient(180deg, #e1e9ff 0%, #eae5ff 100%);
  --gradient-bg-modal: linear-gradient(180deg, rgba(25, 35, 65, 0.8) 0%, rgba(32, 26, 57, 0.8) 100%);
  --gradient-button-1: linear-gradient(99.66deg, #9ab6fb 11.33%, #af9df7 90.25%);
  --gradient-button-2: linear-gradient(288.24deg, #728cf0 14.12%, #9176ff 82.73%);
  --gradient-button-3: linear-gradient(107.08deg, #5a5a5a 11.26%, #7c7c7c 95.08%);

  /* box shadow */
  --shadow-purple-1: 0px 4px 12px 0px rgba(197, 170, 255, 0.5);
  --shadow-purple-2: 0px 4px 8px 0px rgba(90, 72, 129, 0.5);
  --shadow-purple-3: 0px 4px 12px 0px rgba(133, 111, 182, 0.5);
  --shadow-purple-neon: 0px 4px 12px 0px rgba(227, 214, 255, 0.75);
  --shadow-3d: -4px -4px 12px 0px rgba(228, 231, 255, 1), 4px 4px 8px 0px rgba(131, 113, 214, 1);
  --shadow-3d-light: 4px 4px 12px #7560d1, -4px -4px 12px #c6ccff;
  --shadow-3d-gray: -4px -4px 8px 0px rgba(209, 209, 209, 1), 4px 4px 8px 0px rgba(95, 95, 95, 1);

  /* text size */
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 56px;
}

/* font */
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Gmarket Sans Bold'), local('GmarketSans-Bold'),
    url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('http://script.ebay.co.kr/fonts/GmarketSansBold.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Gmarket Sans Medium'), local('GmarketSans-Medium'),
    url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('http://script.ebay.co.kr/fonts/GmarketSansMedium.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: 'Gmarket Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Gmarket Sans Light'), local('GmarketSans-Light'),
    url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff2') format('woff2'),
    /* Chrome 26+, Opera 23+, Firefox 39+ */ url('http://script.ebay.co.kr/fonts/GmarketSansLight.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--gradient-bg-main);
  font-family: 'Gmarket Sans';
  font-weight: 500;
  color: var(--black-2);
  letter-spacing: -0.04em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

select {
  appearance: none;
}

button {
  background: none;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  border: none;
  appearance: none;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/* hidden */
.hidden {
  display: none;
}

/* text gradient */
.text-gradient {
  background: var(--gradient-button-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Gmarket Sans';
  font-style: normal;

  background: var(--gradient-bg-main);
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 508px;
  background: linear-gradient(99.66deg, #9ab6fb 11.33%, #af9df7 90.25%);
  box-shadow: 0px 4px 8px rgba(90, 72, 129, 0.5);
  border-radius: 20px;
}
.auth-logo {
  width: 72px;
  height: 80px;
  background: url(../../assets/logo_white_neon.png);
  background-size: cover;
  margin-top: 24px;
  margin-bottom: 16px;
}
.auth-input-container {
  min-width: 356px;
  margin-bottom: 12px;
}
.auth-input-container input {
  width: 100%;
  height: 48px;

  padding: 16px 12px;
  margin-bottom: 8px;

  border: none;
  border-radius: 6px;

  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.08em;
  color: #7c7c7c;
}

.auth-input {
  box-shadow: var(--shadow-purple-neon);
}

.auth-error {
  margin-left: 8px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.04em;
  color: #f74d4d;
}

.button {
  padding: 16px 24px;

  border: none;
  background: var(--gradient-button-2);
  box-shadow: var(--shadow-3d-light);

  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.08em;

  color: #ffffff;
}

.main-button,
.signup-button {
  margin-top: 20px;
  border-radius: 300px;
}

.auth-callout {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 20px;
  margin-top: 28px;
  margin-bottom: 32px;
}

.auth-callout::before {
  content: '';
  width: 438px;
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

.auth-callout-desc {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.auth.vibration {
  animation: vibration .1s 6;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}


.hidden {
  display: none !important;
}
