/* variables */
:root {
  /* color */
  --white: #ffffff;
  --black-1: #323232;
  --black-2: #505050;
  --gray-1: #ccd2da;
  --gray-2: #e6e9ed;
  --red-1: #f64d4d;
  --red-2: #f64d4d;
  --red-3: #ff8086;
  --pink-1: #ff8ec5;
  --orange-1: #ffa439;
  --yellow-1: #fed894;
  --yellow-2: #fdc55f;
  --green-1: #89e7b3;
  --green-2: #4eda8c;
  --skyblue-1: #89dcff;
  --skyblue-2: #48c8ff;
  --blue-1: #3a80e9;
  --blue-2: #99b3ff;
  --blue-3: #668cff;
  --purple-1: #bfadf7;
  --purple-2: #9e84f3;

  /* gradient */
  --gradient-bg-main: linear-gradient(180deg, #e1e9ff 0%, #eae5ff 100%);
  --gradient-bg-modal: linear-gradient(180deg, rgba(25, 35, 65, 0.8) 0%, rgba(32, 26, 57, 0.8) 100%);
  --gradient-button-1: linear-gradient(99.66deg, #9ab6fb 11.33%, #af9df7 90.25%);
  --gradient-button-2: linear-gradient(288.24deg, #728cf0 14.12%, #9176ff 82.73%);
  --gradient-button-3: linear-gradient(107.08deg, #5a5a5a 11.26%, #7c7c7c 95.08%);

  /* box shadow */
  --shadow-purple-1: 0px 4px 12px 0px rgba(197, 170, 255, 0.5);
  --shadow-purple-2: 0px 4px 8px 0px rgba(90, 72, 129, 0.5);
  --shadow-purple-3: 0px 4px 12px 0px rgba(133, 111, 182, 0.5);
  --shadow-purple-neon: 0px 4px 12px 0px rgba(227, 214, 255, 0.75);
  --shadow-3d: -4px -4px 12px 0px rgba(228, 231, 255, 1), 4px 4px 8px 0px rgba(131, 113, 214, 1);
  --shadow-3d-gray: -4px -4px 8px 0px rgba(209, 209, 209, 1), 4px 4px 8px 0px rgba(95, 95, 95, 1);

  /* text size */
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 56px;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

select,
option {
  appearance: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  width: 100vw;
  height: 100vh;

  font-family: 'Gmarket Sans';
  font-style: normal;

  background: var(--gradient-bg-main);
}

#root {
  width: 100%;
  height: 100%;
}

.modal-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--gradient-bg-modal);
  backdrop-filter: blur(4px);
}

.inputmodal {
  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 548px;
  padding: 24px 24px 32px 24px;

  background: #FFFFFF;
  box-shadow: var(--shadow-purple-neon);
  border-radius: 12px;

  
}
.inputmodal-title {
  margin-bottom: 26px;
  margin-top: 0;

  font-weight: 500;
  font-size: var(--xxl);
  letter-spacing: -0.04em;
}

.inputmodal-item-container,
.piece-dropdown-list {
  margin-bottom: 8px;
}


.piece-dropdown-list {
  display: flex;
  gap: 8px;
}
.inputmodal-item-container,
.piece-dropdown-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pieceadd-error-messages {
  position: absolute;
  background-color: #89dcff;
  padding: 10px;
  bottom: -50px;
  z-index: 2;
  white-space: nowrap;
}

.piece-input {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--purple-2);

  font-weight: 400;
  font-size: var(--md);
  letter-spacing: -0.08em;

  color: var(--black-2);
}

select {
  padding-right: 38px !important;
  background: url('../../assets/btn_dropdown.png') no-repeat 91% 50%/15px auto;
}

.checkbox-container {
  display: flex;
  margin-top: 20px;
}

#piece-content {
  resize: none;
}

#my-piece {
  accent-color: #9176ff;
}

.my-piece-desc {
  margin-left: 8px;
  font-weight: 400;
  font-size: var(--md);
  letter-spacing: -0.08em;
}

.button {
  padding: 16px 24px;

  border: none;
  background: var(--gradient-button-2);
  box-shadow: 4px 4px 12px #7560D1, -4px -4px 12px #AEB6FF;
  border-radius: 300px;

  font-weight: 400;
  font-size: var(--lg);
  letter-spacing: -0.08em;

  color: #FFFFFF;
}

.piece-add-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 12px 20px;
  font-size: var(--md);
  cursor: pointer;
}

.piece-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 21px;
  height: 21px;
  background: url('../../assets/btn_close.png') no-repeat center/contain;
  border: none;
  cursor: pointer;
}


.hidden {
  display: none;
}

.text-gradient {
  background: var(--gradient-button-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
