/* variables */
:root {
  /* color */
  --white: #ffffff;
  --black-1: #323232;
  --black-2: #505050;
  --gray-1: #ccd2da;
  --gray-2: #e6e9ed;
  --gray-3: #7d7d7d;
  --red-1: #f64d4d;
  --red-2: #f64d4d;
  --red-3: #ff8086;
  --pink-1: #ff9bbe;
  --orange-1: #ffae52;
  --yellow-1: #fed894;
  --yellow-2: #fdd35f;
  --green-1: #82e88c;
  --green-2: #6bdc7a;
  --skyblue-1: #89dcff;
  --skyblue-2: #61cffe;
  --blue-1: #3a80e9;
  --blue-2: #99b3ff;
  --blue-3: #668cff;
  --purple-1: #bfadf7;
  --purple-2: #9e84f3;
  --brown-1: #8f7663;

  /* gradient */
  --gradient-bg-main: linear-gradient(180deg, #e1e9ff 0%, #eae5ff 100%);
  --gradient-bg-modal: linear-gradient(180deg, rgba(25, 35, 65, 0.8) 0%, rgba(32, 26, 57, 0.8) 100%);
  --gradient-button-1: linear-gradient(99.66deg, #9ab6fb 11.33%, #af9df7 90.25%);
  --gradient-button-2: linear-gradient(288.24deg, #728cf0 14.12%, #9176ff 82.73%);
  --gradient-button-3: linear-gradient(107.08deg, #5a5a5a 11.26%, #7c7c7c 95.08%);

  /* box shadow */
  --shadow-purple-1: 0px 4px 12px 0px rgba(197, 170, 255, 0.5);
  --shadow-purple-2: 0px 4px 8px 0px rgba(90, 72, 129, 0.5);
  --shadow-purple-3: 0px 4px 12px 0px rgba(133, 111, 182, 0.5);
  --shadow-purple-neon: 0px 4px 12px 0px rgba(227, 214, 255, 0.75);
  --shadow-3d: -4px -4px 12px 0px rgba(228, 231, 255, 1), 4px 4px 8px 0px rgba(131, 113, 214, 1);
  --shadow-3d-gray: -4px -4px 8px 0px rgba(209, 209, 209, 1), 4px 4px 8px 0px rgba(95, 95, 95, 1);

  /* text size */
  --sm: 12px;
  --md: 16px;
  --lg: 20px;
  --xl: 32px;
  --xxl: 40px;
  --xxxl: 56px;
}

/* font */
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./assets/fonts/GmarketSansBold.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 500;
  font-style: normal;
  src: url('./assets/fonts/GmarketSansMedium.woff2') format('woff2');
  font-display: swap;
}
@font-face {
  font-family: 'Gmarket Sans';
  font-weight: 300;
  font-style: normal;
  src: url('./assets/fonts/GmarketSansLight.woff2') format('woff2');
  font-display: swap;
}

/* normalize */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  list-style: none;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: var(--gradient-bg-main);
  font-family: 'Gmarket Sans';
  font-weight: 500;
  color: var(--black-2);
  letter-spacing: -0.04em;
}

#root {
  width: inherit;
  height: inherit;
}

.modal-bg {
  width: inherit;
  height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

p {
  margin: 0;
}

select {
  appearance: none;
}

button {
  background: none;
  cursor: pointer;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  border: none;
  appearance: none;
}

button,
select {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/* hidden */
.hidden {
  display: none;
}

/* text gradient */
.text-gradient {
  background: var(--gradient-button-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-main {
  background: var(--gradient-button-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.exercise {
  background: var(--blue-3);
}

.study {
  background: var(--brown-1);
}

.love {
  background: var(--pink-1);
}

.trip {
  background: var(--skyblue-2);
}

.art {
  background: var(--purple-2);
}

.play {
  background: var(--orange-1);
}

.rest {
  background: var(--green-2);
}

.work {
  background: var(--gray-3);
}

.parenting {
  background: var(--yellow-2);
}

/* ------------------------------ */
/* nav & calendar */
.nav {
  margin-left: auto;
  margin-right: auto;
  width: 1096px;
  height: 124px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: flex-end;
}

.logo {
  width: 68px;
  height: 68px;
  background: url(./../../assets/img/logo_color.png) no-repeat;
  background-size: cover;
  margin-bottom: 16px;
  cursor: pointer;
}

.user-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.user-info {
  font-size: 24px;
  margin-bottom: 22px;
}

.logout {
  padding: 12px 20px;
  color: var(--white);
  background: var(--gradient-button-2);
  border-radius: 30px;
  box-shadow: 4px 4px 8px #7560d1, -4px -4px 8px #aeb6ff;
  margin-bottom: 24px;
}

.nav::after {
  content: '';
  width: 1096px;
  height: 1px;
  position: absolute;
  display: block;
  bottom: 0;
  background: var(--gradient-button-1);
}

/* 캘린더 */

.calendar-container {
  display: flex;
  width: 1096px;
  height: 540px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.calendar-nav {
  width: 315px;
  background: var(--gradient-button-2);
  color: var(--white);
  border-radius: 12px 0px 0px 12px;
  box-shadow: var(--shadow-purple-2);
}

.calendar-year {
  display: flex;
  margin-top: 24px;
  margin-bottom: 18px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.calendar-year-prev {
  width: 10px;
  height: 18px;
  background: url('./../../assets/img/btn_prev.png') no-repeat;
  border: 0;
}

.calendar-year-next {
  width: 10px;
  height: 18px;
  background: url('./../../assets/img/btn_next.png') no-repeat;
  border: 0;
}

.calendar-current-year {
  font-size: var(--xl);
  font-weight: 700;
}

.calendar-month {
  position: relative;
}

.calendar-month > li {
  text-align: center;
  padding: 9px 0px;
  font-weight: 300;
  cursor: pointer;
}

.calendar-month > li:hover {
  background-color: #7573ff;
}

.calendar-month > li.is-selected {
  font-weight: 500;
  background: linear-gradient(269.33deg, #514ca3 0.14%, #5e4ab6 97.96%);
}

.calendar-main {
  width: 781px;
  height: 540px;
  background: var(--white);
  border-radius: 0px 12px 12px 0px;
  box-shadow: var(--shadow-purple-2);
}

.calendar-current-month {
  margin-top: 32px;
  margin-bottom: 12px;
  padding-bottom: 6px;
  font-size: var(--xxl);
  font-weight: 700;
  text-align: center;
}

.calendar-grid {
  margin-left: auto;
  margin-right: auto;
  width: 620px;
  height: 420px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  font-weight: 400;
}

.day:nth-child(1),
.date:nth-child(7n + 1) {
  color: var(--red-2);
}

.day:nth-child(7),
.date:nth-child(7n) {
  color: var(--blue-1);
}

.calendar-grid > .day,
.calendar-grid > .date {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-grid > .date {
  position: relative;
  cursor: pointer;
  border-radius: 12px;
}

.calendar-grid > .date:hover {
  background: var(--gradient-bg-main);
}

.today::before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  border: 2px solid #9176ff;
  border-radius: 4px;
}

/* schedule point list */
.date-day.exercise-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--blue-3);
  border-radius: 16px;
}

.date-day.study-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--brown-1);
  border-radius: 16px;
}

.date-day.love-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--pink-1);
  border-radius: 16px;
}

.date-day.trip-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--skyblue-2);
  border-radius: 16px;
}

.date-day.art-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--purple-2);
  border-radius: 16px;
}

.date-day.play-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--orange-1);
  border-radius: 16px;
}

.date-day.rest-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--green-2);
  border-radius: 16px;
}

.date-day.work-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--gray-3);
  border-radius: 16px;
}

.date-day.parenting-schedule {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  width: 32px;
  height: 32px;
  background-color: var(--yellow-2);
  border-radius: 16px;
}

/* ------------------ */
/* modal background */
.modal-bg {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--gradient-bg-modal);
  backdrop-filter: blur(2px);
}

/* modal */
.modal {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 548px;
  margin: 0 auto;
}

.modal.moving {
  width: 1096px;
}

.daily,
.piece {
  position: absolute;
  top: 92px;
  left: 50%;
  transform: translate3D(-50%, 0, 0);
  width: 548px;
  height: 534px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: var(--shadow-purple-neon);
  transition: transform 0.7s;
}

.daily {
  z-index: 3;
}

.modal.moving .daily {
  z-index: 2;
  transform: translate3D(-100%, 0, 0);
  border-radius: 12px 0 0 12px;
}

.modal.moving .piece {
  z-index: 0;
  transform: translate3D(0, 0, 0);
  border-radius: 0 12px 12px 0;
}

.modal.moving .daily .btn-close {
  display: none;
}

/* piece plan */
.piece-plan {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;
  padding-left: 28px;
  border-radius: 12px;
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  box-shadow: var(--shadow-purple-3);
}

/* daily modal */
.daily-date,
.piece-title {
  width: 460px;
  margin: 24px 0 24px 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 36px;
  font-weight: 700;
}

.daily-plan-wrapper {
  height: 352px;
  margin-right: 20px;
  overflow-y: scroll;
}

.daily-plan-wrapper::-webkit-scrollbar {
  width: 12px;
}

.daily-plan-wrapper::-webkit-scrollbar-thumb {
  height: 40%;
  background: var(--gradient-button-2);
  border-radius: 10px;
}

.daily-plan {
  display: grid;
  grid-template-columns: 87px 385px;
  grid-template-rows: repeat(24, 48px);
  width: 385px;
  margin: 10px 0 24px 24px;
}

.daily-time {
  transform: translateY(-15%);
}

.daily-plan-container {
  border-top: 1px solid var(--gray-2);
}

.daily-plan-container:has(.piece-plan) {
  z-index: 10;
}

span[data-time='23'] {
  border-bottom: 1px solid var(--gray-2);
}

.daily-buttons {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: absolute;
  bottom: 24px;
  gap: 16px;
  width: inherit;
  margin: 0 auto;
  border: none;
}

.daily-buttons button {
  width: 70px;
  height: 40px;
  border: none;
  border-radius: 70px;
  color: white;
}

.btn-edit {
  background: var(--gradient-button-2);
  box-shadow: var(--shadow-3d);
}

.btn-cancel {
  background: var(--gradient-button-3);
  box-shadow: var(--shadow-3d-gray);
}

.btn-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  margin: 16px;
  background: url(../../assets/img/btn_close.png);
}

/* piece modal */
.piece-title {
  margin-bottom: 16px;
}

.piece-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  color: var(--white);
}

.piece-info span {
  padding: 8px 12px;
  border-radius: 16px;
}

.piece-label {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.piece-time {
  background: var(--black-2);
}

.piece-favorite {
  width: 87px;
  padding: 8px 12px 8px 34px;
  background: var(--gradient-button-2);
  border-radius: 16px;
  vertical-align: middle;
  color: var(--white);
  cursor: default;
}

.piece-favorite::before {
  position: absolute;
  content: '';
  width: 20px;
  height: 20px;
  margin-left: -26px;
  margin-top: -2px;
  background: url(../../assets/img/icon_star_fill_big.png);
}

.piece-content {
  display: flex;
  flex-flow: column nowrap;
  height: 360px;
  margin: 20px 40px 20px;
}

.piece-subtitle {
  flex-shrink: 0;
  word-break: break-all;
  margin-bottom: 16px;
  overflow: hidden;
  font-size: 28px;
}

.piece-describtion {
  flex-grow: 2;
  overflow-y: scroll;
  padding: 20px;
  background: var(--gray-2);
  border-radius: 12px;
  font-size: var(--lg);
  font-weight: 300;
  line-height: 150%;
}

.piece-describtion::-webkit-scrollbar {
  width: 0px; /* 스크롤바의 너비 */
}

.piece-describtion-emphasis {
  font-weight: 500;
}

/* ------------------ */
/* main & login & signup & pieceadd */
.main-wrapper,
.auth-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-background {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  /* position: fixed; */
  width: 100%;
  height: 100%;
  background: var(--gradient-bg-modal);
  backdrop-filter: blur(4px);
  z-index: 30;
}

.inputmodal {
  position: relative;

  display: flex;
  flex-direction: column;

  min-width: 548px;
  padding: 24px 24px 32px 24px;

  background: #ffffff;
  box-shadow: var(--shadow-purple-neon);
  border-radius: 12px;
}
.inputmodal-title {
  margin-bottom: 16px;
  margin-top: 0;

  font-weight: 700;
  font-size: var(--xxl);
  letter-spacing: -0.04em;
}

.inputmodal-item-container,
.piece-dropdown-list {
  margin-bottom: 8px;
}

.piece-dropdown-list {
  display: flex;
  gap: 8px;
}
.inputmodal-item-container,
.piece-dropdown-item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.pieceadd-error-messages {
  position: absolute;
  background: var(--gradient-button-1);
  box-shadow: var(--shadow-purple-2);
  padding: 12px 16px;
  bottom: -58px;
  border-radius: 4px;
  color: var(--white);
  z-index: 2;
  white-space: nowrap;
}

.pieceadd-error-messages::before {
  border-top: 0px solid transparent;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 12px solid #9ab6fb;
  content: '';
  position: absolute;
  top: -12px;
  left: 12px;
}

.piece-input {
  padding: 16px;
  border-radius: 4px;
  border: 1px solid var(--purple-2);

  font-weight: 400;
  font-size: var(--md);
  letter-spacing: -0.08em;

  color: var(--black-2);
}

select {
  padding-right: 38px !important;
  background: url('../../assets/img/btn_dropdown.png') no-repeat 91% 50%/15px auto;
}

.checkbox-container {
  display: flex;
  margin-top: 20px;
}

#piece-content {
  margin-bottom: 8px;
  resize: none;
}

#piece-content::placeholder {
  font-size: 16px;
}

#my-piece {
  width: 16px;
  accent-color: #9176ff;
  appearance: auto;
}

.my-piece-desc {
  margin-left: 8px;
  font-weight: 400;
  font-size: var(--lmd);
  letter-spacing: -0.08em;
}

.button {
  padding: 16px 24px;

  border: none;
  background: var(--gradient-button-2);
  box-shadow: 4px 4px 12px #7560d1, -4px -4px 12px #aeb6ff;
  border-radius: 300px;

  font-weight: 400;
  font-size: var(--lg);
  letter-spacing: -0.08em;

  color: #ffffff;
}

.piece-add-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  padding: 12px 20px !important;
  font-size: var(--md) !important;
}

.piece-close-button {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 32px;
  height: 32px;
  background: url('../../assets/img/btn_close.png') no-repeat center/contain;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.text-gradient {
  background: var(--gradient-button-2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 508px;
  background: linear-gradient(99.66deg, #9ab6fb 11.33%, #af9df7 90.25%);
  box-shadow: 0px 4px 8px rgba(90, 72, 129, 0.5);
  border-radius: 20px;
}
.auth-logo {
  width: 72px;
  height: 80px;
  background: url(./assets/img/logo_white_neon.png);
  background-size: cover;
  margin-top: 24px;
  margin-bottom: 16px;
}
.auth-input-container {
  min-width: 356px;
  margin-bottom: 12px;
}
.auth-input-container input {
  width: 100%;
  height: 48px;

  padding: 16px 12px;
  margin-bottom: 8px;

  border: none;
  border-radius: 6px;

  font-weight: 300;
  font-size: 16px;
  letter-spacing: -0.08em;
  color: #7c7c7c;
}

.auth-input {
  box-shadow: var(--shadow-purple-neon);
}

.auth-error {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: -0.04em;
  color: #f74d4d;
}

.button {
  padding: 16px 24px;

  border: none;
  background: var(--gradient-button-2);
  box-shadow: var(--shadow-3d-light);
  border-radius: 300px;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.08em;

  color: #ffffff;
}

.main-button {
  margin-top: 20px;
}

.auth-callout {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  padding: 0 20px;
  margin-top: 28px;
  margin-bottom: 32px;
}

.auth-callout::before {
  content: '';
  width: 438px;
  border-top: 1px solid #ffffff;
  margin-bottom: 20px;
}

.auth-callout-desc {
  margin-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.auth.vibration {
  animation: vibration 0.1s 6;
}

@keyframes vibration {
  from {
    transform: rotate(1deg);
  }
  to {
    transform: rotate(-1deg);
  }
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 373px;
}

.main-logo {
  width: 200px;
  height: 220px;
  background: url(../../assets/img/logo_shadow.png) no-repeat;
  background-size: cover;
  margin-bottom: 28px;
}

.main-catchphrase {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 28px;
}

.main-catchphrase .former {
  margin-left: 18px;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 40px;
  letter-spacing: -0.08em;
  color: #5c82da;
  text-shadow: 0px 4px 4px rgba(140, 113, 231, 0.2);
}

.main-catchphrase .latter {
  margin-right: 18px;
  align-self: flex-end;
  font-weight: 500;
  font-size: 56px;
  letter-spacing: -0.04em;
  color: #9275ef;
  text-shadow: 0px 4px 8px rgba(140, 113, 231, 0.2);
}

.main-button-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 16px 24px;

  border: none;
  background: linear-gradient(288.24deg, #728cf0 14.12%, #9176ff 82.73%);
  box-shadow: 4px 4px 12px #7560d1, -4px -4px 12px #aeb6ff;
  border-radius: 300px;

  font-weight: 400;
  font-size: 20px;
  letter-spacing: -0.08em;

  color: #ffffff;

  cursor: pointer;
}

.main-button-list .button {
  padding: 22px 36px;
  font-size: 32px;
}

/* --------------------------------- */

.plan {
  display: flex;
  justify-content: space-around;
  position: relative;
  width: 1096px;
  height: 534px;
  margin: 20px auto 0;
  background: var(--white);
  border-radius: var(--sm);
  box-shadow: var(--shadow-purple-2);
}

/* --------------------------------- */

.plan-piece {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 548px;
  padding: 32px 20px 24px 36px;
}

.plan-search-form {
  display: flex;
  width: 464px;
  height: 60px;
  border-radius: var(--xl);
  box-shadow: var(--shadow-3d);
  overflow: hidden;
}

.plan-search-input {
  width: 396px;
  padding-left: 24px;
  border: 1px solid var(--gray-1);
  border-radius: var(--xl) 0px 0px var(--xl);
  font-size: var(--lg);
}

.plan-search-input:focus {
  outline: none;
}

.plan-search-btn {
  width: 68px;
  border-radius: 0px var(--xl) var(--xl) 0px;
  background: url('../../assets/img/icon_search.png') no-repeat 45%, var(--gradient-button-2);
}

.plan-filter {
  display: flex;
  gap: 8px;
  height: var(--xl);
}

.plan-filter button {
  width: 86px;
  border-radius: var(--md);
  background: var(--gradient-button-2);
  font-size: var(--md);
  color: var(--white);
}

.plan-category {
  position: relative;
  width: 110px;
  margin-left: 72px;
  padding: 7px 12px 6px;
  border-radius: 4px;
  border: 1px solid #9176ff;
  background-image: url('../../assets/img/btn_dropdown.png');
  background-repeat: no-repeat;
  background-position: 90% 50%;
}

.plan-category option {
  color: #999;
}

.plan-category:focus {
  outline: none;
}

.plan-piece-list {
  height: 338px;
  overflow: scroll;
  color: #fff;
}

.plan-piece-list::-webkit-scrollbar {
  width: 12px;
}

.plan-piece-list::-webkit-scrollbar-thumb {
  height: 40%;
  background: var(--gradient-button-2);
  border-radius: 10px;
}

.plan-piece-item {
  width: 464px;
  height: 112px;
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: var(--shadow-purple-2);
}

.plan-piece-item:last-child {
  margin-bottom: 0px;
}

.plan-piece-item.drag {
  width: 385px;
  opacity: 0.1;
  box-shadow: none;
  background-color: rgba(164, 164, 164, 0.7);
}

.plan-piece-link {
  display: flex;
  flex-flow: column;
  position: relative;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 24px 28px;
}

.plan-piece-title {
  width: 290px;
  height: 24px;
  font-size: 24px;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan-piece-sub {
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan-piece-link > span {
  position: absolute;
  display: inline-block;
  padding: 4px 0;
  background: var(--gradient-button-2);
  box-shadow: var(--shadow-purple-2);
  border-radius: 16px;
  font-size: 14px;
  top: 6px;
  text-align: center;
}

.plan-piece-time {
  width: 45px;
  right: 87px;
  margin-top: 4px;
}

.plan-piece-fav {
  display: flex;
  align-items: center;
  width: 71px;
  right: 8px;
  margin-top: 4px;
  cursor: pointer;
}

.plan-piece-star {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 5px;
  vertical-align: middle;
  background-image: url('../../assets/img/icon_star_nofill.png');
  background-size: contain;
}

.plan-piece-star.fill {
  background-image: url('../../assets/img/icon_star_fill.png');
}

.plan-daily {
  position: relative;
  width: 548px;
  margin: 24px 0px 24px;
  padding: 0px 24px 0px 20px;
  overflow: hidden;
  border-left: 1px dashed #9176ff;
}

.plan-daily-title {
  margin: 0;
  font-size: 40px;
  color: var(--gradient-button-2);
}

.plan-daily-scroll {
  padding-top: 20px;
  height: 352px;
  margin-top: 34px;
  overflow: scroll;
}

.plan-daily-scroll::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 */
}

.plan-daily-scroll::-webkit-scrollbar-thumb {
  height: 40%; /* 스크롤바의 길이 */
  background: var(--gradient-button-2); /* 스크롤바의 색상 */
  border-radius: 10px;
}

.plan-daily-time {
  display: flex;
  position: relative;
  width: 485px;
  height: 47px;
}

.plan-daily-time:last-child {
  height: 0;
}

.plan-daily-hour {
  width: 65px;
  font-size: 15px;
  margin-top: -8px;
}

.plan-daily-piece {
  width: 385px;
  margin-left: 21px;
  border-top: 1px solid var(--gray-1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;
}

.hover {
  border-radius: 12px;
  background-color: #92929280;
}

.plan-daily-add,
.plan-daily-remove {
  position: absolute;
  top: 50%;
  width: 28px;
  height: 28px;
  transform: translate3d(0px, -50%, 0px);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

.plan-daily-add {
  right: 34px;
  background-image: url('../../assets/img/btn_add.png');
}

.plan-daily-remove {
  right: 20px;
  background-image: url('../../assets/img/btn_remove.png');
}

.plan-daily-link {
  height: 47px;
  position: relative;
  border-radius: 12px;
  z-index: 10;
  box-shadow: var(--shadow-purple-2);
}

.plan-daily-piece-title {
  width: 300px;
  position: absolute;
  top: 50%;
  transform: translate3d(28px, -50%, 0px);
  font-size: 24px;
  font-weight: 700;
  color: var(--white);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.plan-submit-btn {
  position: absolute;
  left: 50%;
  width: 70px;
  height: 40px;
  transform: translate3d(-50%, 0px, 0px);
  border-radius: 300px;
  background: var(--gradient-button-2);
  box-shadow: var(--shadow-3d);
  color: var(--white);
}

/* --------------------------------- */

.plan-cancel-btn {
  position: absolute;
  display: block;
  width: 24px;
  height: 24px;
  top: 21px;
  right: 21px;
  background-image: url('../../assets/img/btn_close.png');
  background-size: contain;
}

.detail-bg {
  position: absolute;
  top: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--gradient-bg-modal);
  backdrop-filter: blur(2px);
  z-index: 20;
}

.detail-favorite {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 87px;
  background: var(--gradient-button-2);
  border-radius: 16px;
  vertical-align: middle;
  color: var(--white);
}

.detail-favorite span {
  padding: 8px 6px;
}

.detail-star {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/img/icon_star_nofill.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.detail-star.fill {
  background-image: url(../../assets/img/icon_star_fill.png);
}

/* ------------------ */
/* 404 페이지 */
.notFound {
  display: flex;
  flex-flow: column nowrap;
  width: 500px;
  padding-top: 400px;
  margin: 0 auto;
  letter-spacing: -4px;
}

.notFound span {
  text-align: center;
  text-shadow: var(--shadow-purple-1);
}

.notFound-title {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 12px;
}

.notFound-content {
  font-size: 40px;
}
